<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Bootcamp HTML Template | Homepage Two</title>
	<!-- Stylesheets -->
	<link href="css/bootstrap.css" rel="stylesheet" />
	<link href="css/main.css" rel="stylesheet" />
	<link href="css/responsive.css" rel="stylesheet" />

	<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
	<link rel="icon" href="images/favicon.png" type="image/x-icon" />

	<link
		href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap"
		rel="stylesheet" />

	<!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

	<!--[if lt IE 9
			]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script
		><![endif]-->
	<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
	<div class="page-wrapper">
		<!-- Preloader -->
		<div class="preloader"></div>

 <%- include("parts/header")  %> 

		<!-- Slider Section -->
		<section class="slider-section" style="background-image: url(images/main-slider/1.png)">
			<div class="main-slider-carousel owl-carousel owl-theme">
				<div class="slide">
					<div class="auto-container">
						<div class="row clearfix">
							<!-- Content Column -->
							<div class="
										content-column
										col-lg-6 col-md-12 col-sm-12
									">
								<div class="inner-column">
									<h1>
										Some books leave us free and some
										books make us free
									</h1>
									<div class="text">
										There are many variations of
										passages of Lorem Ipsum available,
										but the majority have suffered
										alteration in some form by injected
										humour or randomisedable.
									</div>
									<div class="btns-box">
										<a href="course.html" class="theme-btn btn-style-four"><span class="txt">Get
												Stared
												<i class="
															fa fa-angle-right
														"></i></span></a>
										<a href="course.html" class="theme-btn btn-style-five"><span class="txt">All
												Courses
												<i class="
															fa fa-angle-right
														"></i></span></a>
									</div>
								</div>
							</div>

							<!-- Image Column -->
							<div class="
										image-column
										col-lg-6 col-md-12 col-sm-12
									">
								<div class="inner-column">
									<div class="image">
										<img src="https://via.placeholder.com/660x686" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="slide">
					<div class="auto-container">
						<div class="row clearfix">
							<!-- Content Column -->
							<div class="
										content-column
										col-lg-6 col-md-12 col-sm-12
									">
								<div class="inner-column">
									<h1>
										Some books leave us free and some
										books make us free
									</h1>
									<div class="text">
										There are many variations of
										passages of Lorem Ipsum available,
										but the majority have suffered
										alteration in some form by injected
										humour or randomisedable.
									</div>
									<div class="btns-box">
										<a href="course.html" class="theme-btn btn-style-four"><span class="txt">Get
												Stared
												<i class="
															fa fa-angle-right
														"></i></span></a>
										<a href="course.html" class="theme-btn btn-style-five"><span class="txt">All
												Courses
												<i class="
															fa fa-angle-right
														"></i></span></a>
									</div>
								</div>
							</div>

							<!-- Image Column -->
							<div class="
										image-column
										col-lg-6 col-md-12 col-sm-12
									">
								<div class="inner-column">
									<div class="image">
										<img src="https://via.placeholder.com/660x686" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="slide">
					<div class="auto-container">
						<div class="row clearfix">
							<!-- Content Column -->
							<div class="
										content-column
										col-lg-6 col-md-12 col-sm-12
									">
								<div class="inner-column">
									<h1>
										Some books leave us free and some
										books make us free
									</h1>
									<div class="text">
										There are many variations of
										passages of Lorem Ipsum available,
										but the majority have suffered
										alteration in some form by injected
										humour or randomisedable.
									</div>
									<div class="btns-box">
										<a href="course.html" class="theme-btn btn-style-four"><span class="txt">Get
												Stared
												<i class="
															fa fa-angle-right
														"></i></span></a>
										<a href="course.html" class="theme-btn btn-style-five"><span class="txt">All
												Courses
												<i class="
															fa fa-angle-right
														"></i></span></a>
									</div>
								</div>
							</div>

							<!-- Image Column -->
							<div class="
										image-column
										col-lg-6 col-md-12 col-sm-12
									">
								<div class="inner-column">
									<div class="image">
										<img src="https://via.placeholder.com/660x686" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Banner Section -->

		<!-- Education Section Two -->
		<section class="education-section-two">
			<div class="auto-container">
				<div class="row clearfix">
					<!-- Image Column -->
					<div class="image-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="image titlt" data-tilt data-tilt-max="4">
								<a href="https://via.placeholder.com/607x597" data-fancybox="education" data-caption=""
									class=""><img src="https://via.placeholder.com/607x597" alt="" /></a>
							</div>
						</div>
					</div>

					<!-- Content Column -->
					<div class="content-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<h2>
								Our education system <br />
								works for you
							</h2>
							<div class="text">
								There are many variations of passages of
								Lorem Ipsum available, but the majority have
								suffered alteration in some form by injected
								humour or randomisedable.
							</div>
							<a href="course.html" class="theme-btn btn-style-six"><span class="txt">Learn
									More</span></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Education Section Two -->

		<!-- Institution Section -->
		<section class="institution-section">
			<div class="auto-container">
				<!-- Sec Title -->
				<div class="sec-title style-two">
					<h2>Our top courses</h2>
					<div class="text">
						There are many variations of passages of Lorem Ipsum
						available, but the majority have suffered <br />
						alteration in some form by injected humour or
						randomisedable.
					</div>
				</div>
				<div class="row clearfix">
					<!-- Institution Block -->
					<div class="
								institution-block
								col-lg-4 col-md-6 col-sm-12
							">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<span class="icon flaticon-computer"></span>
							</div>
							<h4>
								<a href="course.html">Computer Science</a>
							</h4>
							<div class="text">
								Replenish him third creature and meat of the
								blessed void a fruit
							</div>
							<div class="price">$140</div>
							<a href="course.html" class="theme-btn btn-style-seven"><span class="txt">Enroll
									Now</span></a>
						</div>
					</div>

					<!-- Institution Block -->
					<div class="
								institution-block
								col-lg-4 col-md-6 col-sm-12
							">
						<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<span class="icon flaticon-robot"></span>
							</div>
							<h4>
								<a href="course.html">Mechanical Engineering</a>
							</h4>
							<div class="text">
								Replenish him third creature and meat of the
								blessed void a fruit
							</div>
							<div class="price">$140</div>
							<a href="course.html" class="theme-btn btn-style-seven"><span class="txt">Enroll
									Now</span></a>
						</div>
					</div>

					<!-- Institution Block -->
					<div class="
								institution-block
								col-lg-4 col-md-6 col-sm-12
							">
						<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<span class="icon flaticon-research"></span>
							</div>
							<h4>
								<a href="course.html">Business Studies</a>
							</h4>
							<div class="text">
								Replenish him third creature and meat of the
								blessed void a fruit
							</div>
							<div class="price">$140</div>
							<a href="course.html" class="theme-btn btn-style-seven"><span class="txt">Enroll
									Now</span></a>
						</div>
					</div>

					<!-- Institution Block -->
					<div class="
								institution-block
								col-lg-4 col-md-6 col-sm-12
							">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<span class="icon flaticon-sketch"></span>
							</div>
							<h4><a href="course.html">Architecture</a></h4>
							<div class="text">
								Replenish him third creature and meat of the
								blessed void a fruit
							</div>
							<div class="price">$140</div>
							<a href="course.html" class="theme-btn btn-style-seven"><span class="txt">Enroll
									Now</span></a>
						</div>
					</div>

					<!-- Institution Block -->
					<div class="
								institution-block
								col-lg-4 col-md-6 col-sm-12
							">
						<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<span class="icon flaticon-sketch"></span>
							</div>
							<h4><a href="course.html">Accounting</a></h4>
							<div class="text">
								Replenish him third creature and meat of the
								blessed void a fruit
							</div>
							<div class="price">$140</div>
							<a href="course.html" class="theme-btn btn-style-seven"><span class="txt">Enroll
									Now</span></a>
						</div>
					</div>

					<!-- Institution Block -->
					<div class="
								institution-block
								empty-block
								col-lg-4 col-md-6 col-sm-12
							">
						<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
							<a href="course.html" class="theme-btn btn-style-six"><span class="txt">Browse
									All</span></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Institution Section -->

		<!-- Program Section -->
		<section class="program-section">
			<div class="auto-container">
				<div class="row clearfix">
					<!-- Content Column -->
					<div class="content-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<h2>
								Why choose us? <br />
								Discover your perfect program in <br />
								our online schools
							</h2>
							<div class="text">
								<p>
									There are many variations of passages of
									Lorem Ipsum available, but the majority
									have suffered alteration in some form by
									injected humour or randomisedable.
								</p>
								<p>
									There are many variations of passages of
									Lorem Ipsum available, but the majority
								</p>
							</div>
							<a href="course.html" class="theme-btn btn-style-six"><span class="txt">Learn
									More</span></a>
						</div>
					</div>

					<!-- Image Column -->
					<div class="image-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="image titlt" data-tilt data-tilt-max="4">
								<a href="https://via.placeholder.com/557x598" data-fancybox="program" data-caption=""
									class=""><img src="https://via.placeholder.com/557x598" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Education Section Two -->

		<!-- Achievement Section Two -->
		<section class="achievements-section-two">
			<!-- Pattern Layer -->
			<div class="pattern-layer" style="
						background-image: url(images/background/pattern-1.png);
					"></div>
			<div class="auto-container">
				<!-- Sec Title -->
				<div class="sec-title style-two light centered">
					<h2>Our achievements</h2>
					<div class="text">
						Replenish him third creature and meat blessed void a
						fruit gathered you’re, they’re <br />
						two waters own morning gathered greater shall had
						behold had seed.
					</div>
				</div>

				<!-- Fact Counter -->
				<div class="fact-counter-two">
					<div class="row clearfix">
						<!-- Column -->
						<div class="
									column
									counter-column
									col-lg-4 col-md-6 col-sm-12
								">
							<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="content">
									<div class="icon-box">
										<span class="icon flaticon-course"></span>
									</div>
									<h4 class="counter-title">
										Total Courses
									</h4>
									<div class="count-outer count-box">
										<span class="count-text" data-speed="2000" data-stop="50">0</span>+
									</div>
								</div>
							</div>
						</div>

						<!-- Column -->
						<div class="
									column
									counter-column
									col-lg-4 col-md-6 col-sm-12
								">
							<div class="inner wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="content">
									<div class="icon-box">
										<span class="icon flaticon-course-1"></span>
									</div>
									<h4 class="counter-title">
										Total Student
									</h4>
									<div class="
												count-outer count-box
												alternate
											">
										<span class="count-text" data-speed="3000" data-stop="45">0</span>K+
									</div>
								</div>
							</div>
						</div>

						<!-- Column -->
						<div class="
									column
									counter-column
									col-lg-4 col-md-6 col-sm-12
								">
							<div class="inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="content">
									<div class="icon-box">
										<span class="icon flaticon-world"></span>
									</div>
									<h4 class="counter-title">
										Global Position
									</h4>
									<div class="count-outer count-box">
										<span class="count-text" data-speed="4000" data-stop="115">0</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Achievement Section -->

		<!-- Video Section Two -->
		<section class="video-section-two">
			<div class="auto-container">
				<!--Video Box-->
				<div class="video-boxed" style="
							background-image: url(https://via.placeholder.com/1170x600);
						">
					<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span
							class="fa fa-play"><i class="ripple"></i></span></a>
					<h4>
						Watch Intro <br />
						Video
					</h4>
				</div>
			</div>
		</section>
		<!-- End Video Section Two -->

		<!-- Events Section -->
		<section class="events-section">
			<div class="auto-container">
				<!-- Sec Title -->
				<div class="sec-title style-two">
					<h2>Upcoming events</h2>
					<div class="text">
						There are many variations of passages of Lorem Ipsum
						available, but the majority have suffered <br />
						alteration in some form by injected humour or
						randomisedable.
					</div>
				</div>
				<div class="row clearfix">
					<!-- Event Block Two -->
					<div class="event-block-two col-lg-6 col-md-12 col-sm-12">
						<div class="inner-box">
							<div class="clearfix">
								<!-- Event Date -->
								<div class="event-date clearfix">
									<span class="date">21</span>Jan 2020
								</div>
								<!-- Event List -->
								<ul class="event-list">
									<li>
										<a href="course-detail.html">ART & DESIGN</a>
									</li>
									<li>
										<a href="course-detail.html">PAINTING</a>
									</li>
								</ul>
							</div>
							<h4>
								<a href="course-detail.html">Workshop on UX/UI (How people see & how
									<br />
									people remember)</a>
							</h4>
							<div class="text">
								Replenish him third creature and of the meat
								of the <br />
								blessed void a fruit
							</div>
						</div>
					</div>

					<!-- Event Block Two -->
					<div class="event-block-two col-lg-6 col-md-12 col-sm-12">
						<div class="inner-box">
							<div class="clearfix">
								<!-- Event Date -->
								<div class="event-date clearfix">
									<span class="date">23</span>Jan 2020
								</div>
								<!-- Event List -->
								<ul class="event-list">
									<li>
										<a href="course-detail.html">ART & DESIGN</a>
									</li>
									<li>
										<a href="course-detail.html">PAINTING</a>
									</li>
								</ul>
							</div>
							<h4>
								<a href="course-detail.html">Workshop on UX/UI (How people see & how
									<br />
									people remember)</a>
							</h4>
							<div class="text">
								Replenish him third creature and of the meat
								of the <br />
								blessed void a fruit
							</div>
						</div>
					</div>

					<!-- Event Block Two -->
					<div class="event-block-two col-lg-6 col-md-12 col-sm-12">
						<div class="inner-box">
							<div class="clearfix">
								<!-- Event Date -->
								<div class="event-date clearfix">
									<span class="date">23</span>Jan 2020
								</div>
								<!-- Event List -->
								<ul class="event-list">
									<li>
										<a href="course-detail.html">ART & DESIGN</a>
									</li>
									<li>
										<a href="course-detail.html">PAINTING</a>
									</li>
								</ul>
							</div>
							<h4>
								<a href="course-detail.html">Workshop on UX/UI (How people see & how
									<br />
									people remember)</a>
							</h4>
							<div class="text">
								Replenish him third creature and of the meat
								of the <br />
								blessed void a fruit
							</div>
						</div>
					</div>

					<!-- Event Block Two -->
					<div class="
								event-block-two
								empty-block
								col-lg-6 col-md-12 col-sm-12
							">
						<div class="inner-box">
							<a href="course.html" class="theme-btn btn-style-six"><span class="txt">Browse
									All</span></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Events Section -->

		<!-- Pricing Section -->
		<section class="pricing-section">
			<div class="auto-container">
				<!-- Sec Title -->
				<div class="sec-title style-two centered">
					<h2>Plans & Pricing</h2>
					<div class="text">
						There are many variations of passages of Lorem Ipsum
						available,
					</div>
				</div>

				<div class="pricing-tabs tabs-box">
					<!-- Tab Btns -->
					<ul class="tab-buttons clearfix">
						<li data-tab="#prod-monthly" class="tab-btn active-btn">
							Monthly
						</li>
						<li data-tab="#prod-yearly" class="tab-btn">
							Annually
						</li>
					</ul>

					<!--Tabs Container-->
					<div class="tabs-content">
						<!--Tab-->
						<div class="tab active-tab" id="prod-monthly">
							<div class="content">
								<div class="row clearfix">
									<!-- Price Block -->
									<div class="
												price-block
												col-lg-4 col-md-6 col-sm-12
											">
										<div class="inner-box">
											<div class="icon-box">
												<span class="icon"><img src="https://via.placeholder.com/285x130"
														alt="" /></span>
											</div>
											<h3>Basic</h3>
											<div class="text">
												Replenish him third creature
												and meat of the blessed void
												good a fruit
											</div>
											<a href="course.html" class="
														theme-btn
														btn-style-seven
													"><span class="txt">Start Plan</span></a>
											<div class="price">
												$14.99
												<span>Per month</span>
											</div>
										</div>
									</div>

									<!-- Price Block -->
									<div class="
												price-block
												col-lg-4 col-md-6 col-sm-12
											">
										<div class="inner-box">
											<div class="icon-box">
												<span class="icon"><img src="https://via.placeholder.com/285x130"
														alt="" /></span>
											</div>
											<h3>Standard</h3>
											<div class="text">
												Replenish him third creature
												and meat of the blessed void
												good a fruit
											</div>
											<a href="course.html" class="
														theme-btn
														btn-style-seven
													"><span class="txt">Start Plan</span></a>
											<div class="price">
												$29.99
												<span>Per month</span>
											</div>
										</div>
									</div>

									<!-- Price Block -->
									<div class="
												price-block
												col-lg-4 col-md-6 col-sm-12
											">
										<div class="inner-box">
											<div class="icon-box">
												<span class="icon"><img src="https://via.placeholder.com/285x130"
														alt="" /></span>
											</div>
											<h3>Premium</h3>
											<div class="text">
												Replenish him third creature
												and meat of the blessed void
												good a fruit
											</div>
											<a href="course.html" class="
														theme-btn
														btn-style-seven
													"><span class="txt">Start Plan</span></a>
											<div class="price">
												$49.99
												<span>Per month</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!--Tab-->
						<div class="tab" id="prod-yearly">
							<div class="content">
								<div class="row clearfix">
									<!-- Price Block -->
									<div class="
												price-block
												col-lg-4 col-md-6 col-sm-12
											">
										<div class="inner-box">
											<div class="icon-box">
												<span class="icon"><img src="https://via.placeholder.com/285x130"
														alt="" /></span>
											</div>
											<h3>Basic</h3>
											<div class="text">
												Replenish him third creature
												and meat of the blessed void
												good a fruit
											</div>
											<a href="course.html" class="
														theme-btn
														btn-style-seven
													"><span class="txt">Start Plan</span></a>
											<div class="price">
												$14.99
												<span>Per month</span>
											</div>
										</div>
									</div>

									<!-- Price Block -->
									<div class="
												price-block
												col-lg-4 col-md-6 col-sm-12
											">
										<div class="inner-box">
											<div class="icon-box">
												<span class="icon"><img src="https://via.placeholder.com/285x130"
														alt="" /></span>
											</div>
											<h3>Standard</h3>
											<div class="text">
												Replenish him third creature
												and meat of the blessed void
												good a fruit
											</div>
											<a href="course.html" class="
														theme-btn
														btn-style-seven
													"><span class="txt">Start Plan</span></a>
											<div class="price">
												$24.99
												<span>Per month</span>
											</div>
										</div>
									</div>

									<!-- Price Block -->
									<div class="
												price-block
												col-lg-4 col-md-6 col-sm-12
											">
										<div class="inner-box">
											<div class="icon-box">
												<span class="icon"><img src="https://via.placeholder.com/285x130"
														alt="" /></span>
											</div>
											<h3>Premium</h3>
											<div class="text">
												Replenish him third creature
												and meat of the blessed void
												good a fruit
											</div>
											<a href="course.html" class="
														theme-btn
														btn-style-seven
													"><span class="txt">Start Plan</span></a>
											<div class="price">
												$49.99
												<span>Per month</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Pricing Section -->

		<!--Main Footer-->
		<footer class="main-footer style-two">
			<!-- Upper Box -->
			<div class="upper-box">
				<div class="auto-container">
					<h2>
						Subscribe to know our <br />
						every single updates
					</h2>

					<!-- Subscribe Form -->
					<div class="subscribe-form">
						<form method="post" action="contact.html">
							<div class="form-group clearfix">
								<span class="icon flaticon-mail"></span>
								<input type="email" name="email" value="" placeholder="Please Enter Your Email"
									required />
								<button type="submit" class="theme-btn btn-style-four">
									<span class="txt">Subscribe Now</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<!-- Pattern Layer Three -->
			<div class="pattern-layer-three" style="
						background-image: url(images/background/pattern-2.png);
					"></div>
			<div class="auto-container">
				<!-- Widgets Section -->
				<div class="widgets-section">
					<div class="row clearfix">
						<!-- Big Column -->
						<div class="big-column col-lg-6 col-md-12 col-sm-12">
							<div class="row clearfix">
								<!--Footer Column-->
								<div class="
											footer-column
											col-lg-7 col-md-6 col-sm-12
										">
									<div class="footer-widget logo-widget">
										<div class="logo">
											<a href="index.html"><img src="https://via.placeholder.com/230x60"
													alt="" /></a>
										</div>
										<div class="text">
											Replenish him third creature and
											meat blessed void a fruit
											gathered you’re, they’re two
											waters own morning gathered
											greater.
										</div>
										<div class="social-box">
											<a href="#" class="fa fa-facebook"></a>
											<a href="#" class="fa fa-instagram"></a>
											<a href="#" class="fa fa-twitter"></a>
											<a href="#" class="fa fa-google"></a>
											<a href="#" class="fa fa-pinterest-p"></a>
										</div>
									</div>
								</div>

								<!--Footer Column-->
								<div class="
											footer-column
											col-lg-5 col-md-6 col-sm-12
										">
									<div class="footer-widget links-widget">
										<h4>About Us</h4>
										<ul class="links-widget">
											<li>
												<a href="#">Afficiates</a>
											</li>
											<li>
												<a href="#">Partners</a>
											</li>
											<li><a href="#">Reviews</a></li>
											<li><a href="#">Blogs</a></li>
											<li>
												<a href="#">Newsletter</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<!-- Big Column -->
						<div class="big-column col-lg-6 col-md-12 col-sm-12">
							<div class="row clearfix">
								<!--Footer Column-->
								<div class="
											footer-column
											col-lg-6 col-md-6 col-sm-12
										">
									<div class="footer-widget links-widget">
										<h4>Resource</h4>
										<ul class="links-widget">
											<li>
												<a href="#">Privacy Policy</a>
											</li>
											<li>
												<a href="#">Support Area</a>
											</li>
											<li>
												<a href="#">Documentations</a>
											</li>
											<li>
												<a href="#">How it works</a>
											</li>
											<li>
												<a href="#">Terms of Policy</a>
											</li>
										</ul>
									</div>
								</div>

								<!--Footer Column-->
								<div class="
											footer-column
											col-lg-6 col-md-6 col-sm-12
										">
									<div class="footer-widget links-widget">
										<h4>Quick Links</h4>
										<ul class="links-widget">
											<li><a href="#">home</a></li>
											<li>
												<a href="#">About us</a>
											</li>
											<li>
												<a href="#">Features</a>
											</li>
											<li><a href="#">Pricing</a></li>
											<li><a href="#">Contact</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Footer Bottom -->
				<div class="footer-bottom text-center">
					<div class="copyright">
						Copyright &copy; 2020 AuburnForest
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!--End pagewrapper-->

	<!--Scroll to top-->
	<div class="scroll-to-top scroll-to-target" data-target="html">
		<span class="fa fa-arrow-circle-up"></span>
	</div>

	<script src="js/jquery.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/jquery.scrollTo.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/jquery.fancybox.js"></script>
	<script src="js/appear.js"></script>
	<script src="js/swiper.min.js"></script>
	<script src="js/element-in-view.js"></script>
	<script src="js/jquery.paroller.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script src="js/tilt.jquery.min.js"></script>
	<!--Master Slider-->
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/owl.js"></script>
	<script src="js/wow.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/script.js"></script>
</body>

</html>