<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Bootcamp HTML Template | Register</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Titillium+Web:wght@300;400;600;700;900&display=swap" rel="stylesheet">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
	<%- include("parts/headerOther") %> 
	
	<!-- Page Title -->
    <section class="page-title">
        <div class="auto-container">
			<h1>Register</h1>
			
			<!-- Search Boxed -->
			<div class="search-boxed">
				<div class="search-box">
					<form method="post" action="contact.html">
						<div class="form-group">
							<input type="search" name="search-field" value="" placeholder="What do you want to learn?" required>
							<button type="submit"><span class="icon fa fa-search"></span></button>
						</div>
					</form>
				</div>
			</div>
			
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Register Section -->
	<section class="register-section">
		<div class="auto-container">
			<div class="register-box">

				<!-- Title Box -->
				<div class="title-box">
					<h2>Register</h2>
					<div class="text"><span class="theme_color">Welcome!</span> Please confirm that you are visiting</div>
				</div>

				<!-- Login Form -->
				<div class="styled-form">
					<form method="POST">
						
						<div class="row clearfix">
							
							<!-- Form Group -->
							<div class="form-group col-lg-6 col-md-12 col-sm-12">
								<label>First Name</label>
								<input type="text" name="name" value="" placeholder="First Name" required>
							</div>
							
							<!-- Form Group -->
							<div class="form-group col-lg-6 col-md-12 col-sm-12">
								<label>Last Name</label>
								<input type="text" name="surname" value="" placeholder="Last Name" required>
							</div>
							
							<!-- Form Group -->
							<div class="form-group col-lg-6 col-md-12 col-sm-12">
								<label>Email Address</label>
								<input type="email" name="email" value="" placeholder="abcd@gmail.com" required>
							</div>
							
							<!-- Form Group -->
							<div class="form-group col-lg-6 col-md-12 col-sm-12">
								<label>Phone Number</label>
								<input type="text" name="phone" value="" placeholder="+1 (800) 123-4567" required>
							</div>
							
							<!-- Form Group -->
							<div class="form-group col-lg-12 col-md-12 col-sm-12">
								<label>Password</label>
								<span class="eye-icon flaticon-eye"></span>
								<input type="password" name="password" value="" placeholder="Password" required>
							</div>
							
							<!-- Form Group -->
							
							
							<div class="form-group col-lg-12 col-md-12 col-sm-12 text-center">
								<button type="submit" class="theme-btn btn-style-three"><span class="txt">Sign Up <i class="fa fa-angle-right"></i></span></button>
							</div>
							
							<div class="form-group col-lg-12 col-md-12 col-sm-12">
								<div class="users">Already have an account? <a href="login.html">Sign In</a></div>
							</div>
							
						</div>
						
					</form>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Login Section -->
	
	<!-- Call To Action Section Two -->
	<section class="call-to-action-section-two" style="background-image: url(images/background/3.png)">
		<div class="auto-container">
			<div class="content">
				<h2>Ready to get started?</h2>
				<div class="text">Replenish him third creature and meat blessed void a fruit gathered you’re, they’re two <br> waters own morning gathered greater shall had behold had seed.</div>
				<div class="buttons-box">
					<a href="course.html" class="theme-btn btn-style-one"><span class="txt">Get Stared <i class="fa fa-angle-right"></i></span></a>
					<a href="course.html" class="theme-btn btn-style-two"><span class="txt">All Courses <i class="fa fa-angle-right"></i></span></a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Call To Action Section Two -->
	
	<!--Main Footer-->
    <footer class="main-footer">
		<!-- Pattern Layer -->
		<div class="pattern-layer paroller" data-paroller-factor="0.60" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image:url(images/icons/icon-1.png)"></div>
		<div class="pattern-layer-two data-paroller-factor="0.60" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image:url(images/icons/icon-3.png)"></div>
		<div class="auto-container">
		
        	<!-- Widgets Section -->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
                                    	<a href="index.html"><img src="https://via.placeholder.com/230x60" alt="" /></a>
                                    </div>
									<div class="text">Replenish him third creature and meat blessed void a fruit gathered you’re, they’re two waters own morning gathered greater.</div>
									<div class="social-box">
										<a href="#" class="fa fa-facebook"></a>
										<a href="#" class="fa fa-instagram"></a>
										<a href="#" class="fa fa-twitter"></a>
										<a href="#" class="fa fa-google"></a>
										<a href="#" class="fa fa-pinterest-p"></a>
									</div>
									<div class="copyright">Copyright &copy; 2020 AuburnForest</div>
								</div>
							</div>
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
									<h4>About Us</h4>
									<ul class="links-widget">
										<li><a href="#">Afficiates</a></li>
										<li><a href="#">Partners</a></li>
										<li><a href="#">Reviews</a></li>
										<li><a href="#">Blogs</a></li>
										<li><a href="#">Newsletter</a></li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
					
					<!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
									<h4>Resource</h4>
									<ul class="links-widget">
										<li><a href="#">Privacy Policy</a></li>
										<li><a href="#">Support Area</a></li>
										<li><a href="#">Documentations</a></li>
										<li><a href="#">How it works</a></li>
										<li><a href="#">Terms of Policy</a></li>
									</ul>
								</div>
							</div>
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
									<h4>Quick Links</h4>
									<ul class="links-widget">
										<li><a href="#">home</a></li>
										<li><a href="#">About us</a></li>
										<li><a href="#">Features</a></li>
										<li><a href="#">Pricing</a></li>
										<li><a href="#">Contact</a></li>
									</ul>
								</div>
							</div>
						
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</footer>
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/jquery.scrollTo.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/element-in-view.js"></script>
<script src="js/jquery.paroller.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/tilt.jquery.min.js"></script>
<!--Master Slider-->
<script src="js/jquery.easing.min.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/script.js"></script>

</body>
</html>